
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <hr style="width:500px;">
    <p>Have a Happy Journey!</p>
    <p>2020 - 2021</p>
  </div>
</div>
<script src="index.js" charset="utf-8"></script>
</body>
</html>
